.getButton {
  margin: 1em;
  padding: 0.5em;
}

.title {
  margin-top: 0.5em;
}

.segment-title {
  margin-top: 0.5em;
}

.main-container {
  margin-top: 2em;
  width: 95%;
}

.form-group {
  margin: 0.5em;
}

.form-check {
  padding-left: 0.5em;
  margin-top: 0.5em;
}

.title {
  color: #1db954;
}

#segment-area {
  margin: 0.5em;
}

#loading {
  width: 4em;
  margin: 5em;
}

body {
  background-color: black;
  color: white;
}
